{% extends 'base.html' %}

{% block head %}

<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = '/css/heroes.css') }}">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = '/css/hero.css') }}">

<script>

    var heroes = {{ heroes|tojson }}

</script>

{% endblock %}

{% block body %}

    <div class = "page_menu_wrapper">
        <div class = "page_menu">
            <a class = "hero_link" href = "/heroes/">
                <div class = "page_menu_item active_item">
                    All heroes
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/winrate">
                <div class = "page_menu_item">
                    Winrate
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/meta">
                <div class = "page_menu_item">
                    Meta
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/impact">
                <div class = "page_menu_item">
                    Impact
                </div>
            </a>
        </div>
    </div>

    <div class = "title_wrapper">
        <div class = "title">
        <div class = "title_title">
            Heroes
        </div>
        <div class = "title_subtitle">
            <small>Meta</small>
        </div>
        </div>
    </div>

    <div class = "heroes_main_wrapper">
        <div class = "heroes_main">
            <div class = "medals_row">
                <div class = "medal_row">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Herald.png">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Guardian.png">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Crusader.png">
                </div>
                <div class = "medal_row">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Archon.png">
                </div>
                <div class = "medal_row">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Legend.png">
                </div>
                <div class = "medal_row">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Ancient.png">
                </div>
                <div class = "medal_row">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Divine.png">
                    <img class = "medal_row_img" src = "../static/images/all_medals/Immortal.png">
                </div>

            </div>
            <div class = "heroes_row details_row">
                {% set brackets = ["herald", "archon", "legend", "ancient", "divine"] %}
                <div class = "heroes_hero_name_details" style = "width:246px">
                    Hero
                </div>
                {% for i in range(brackets|length) %}
                    <div class = "heroes_hero_meta_usage_percentage_details">
                        Pick %
                    </div>
                    <div class = "heroes_hero_meta_win_percentage_details">
                        Win %
                    </div>
                {% endfor %}
            </div>
            {% for hero in heroes %}
                <div class = "heroes_row">
                    <a class = "hero_link" href = "/heroes/{{ hero['name'] }}">
                        <img class = "heroes_hero_img" src = "{{ '../static/images/hero_avatars/' + hero['name'] + '.png' }}">
                    </a>
                    <a class = "hero_link" href = "/heroes/{{ hero['name'] }}">
                        <div class = "heroes_hero_name">
                            {{ hero["name"] }}
                        </div>
                    </a>
                    {% for i in range(brackets|length) %}
                        <div class = "visual_indicator_wrapper">
                            <div class = "heroes_hero_meta_usage_percentage">
                                {% set brackets_u = "usage_" + brackets[i] %}
                                {{ hero[brackets_u] }}
                            </div>
                        </div>
                        <div class = "visual_indicator_wrapper">
                            <div class = "heroes_hero_meta_win_percentage">
                                {% set brackets_win = "win_" + brackets[i] %}
                                {{ hero[brackets_win] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script type = "text/javascript" src = "{{ url_for('static', filename = '/js/heroes.additional.js') }}"></script>

{% endblock %}