{% extends 'base.html' %}

{% block head %}

<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = '/css/heroes.css') }}">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = '/css/hero.css') }}">

<script>

    var heroes = {{ heroes|tojson }}

</script>

{% endblock %}

{% block body %}

    <div class = "page_menu_wrapper">
        <div class = "page_menu">
            <a class = "hero_link" href = "/heroes/">
                <div class = "page_menu_item active_item">
                    All heroes
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/winrate">
                <div class = "page_menu_item">
                    Winrate
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/meta">
                <div class = "page_menu_item">
                    Meta
                </div>
            </a>
            <a class = "hero_link" href = "/heroes/impact">
                <div class = "page_menu_item">
                    Impact
                </div>
            </a>
        </div>
    </div>

    <div class = "title_wrapper">
        <div class = "title">
        <div class = "title_title">
            Heroes
        </div>
        <div class = "title_subtitle">
            <small>Winrate</small>
        </div>
        </div>
    </div>

    <div class = "heroes_main_wrapper">
        <div class = "heroes_main">
            <div class = "heroes_row details_row">
                <div class = "heroes_hero_name_details">
                    Hero
                </div>
                <div class = "heroes_hero_win_percentage_details">
                    Winrate
                </div>
                <div class = "heroes_hero_usage_percentage_details">
                    Popularity
                </div>
                <div class = "heroes_hero_win_percentage_details">
                    KDA
                </div>
            </div>
            {% for hero in heroes %}
                <div class = "heroes_row">
                    <a class = "hero_link" href = "/heroes/{{ hero['name'] }}">
                        <img class = "heroes_hero_img" src = "{{ '../static/images/hero_avatars/' + hero['name'] + '.png' }}">
                    </a>
                    <a class = "hero_link" href = "/heroes/{{ hero['name'] }}">
                        <div class = "heroes_hero_name">
                            {{ hero["name"] }}
                        </div>
                    </a>
                    <div class = "visual_indicator_wrapper">
                        <div class = "heroes_hero_winrate">
                            {{ hero["winrate"] }}
                        </div>
                    </div>
                    <div class = "visual_indicator_wrapper">
                        <div class = "heroes_hero_popularity">
                            {{ hero["popularity"] }}
                        </div>
                    </div>
                    <div class = "visual_indicator_wrapper">
                        <div class = "heroes_hero_kda">
                            {{ hero["kda"] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type = "text/javascript" src = "{{ url_for('static', filename = '/js/heroes.additional.js') }}"></script>

{% endblock %}