.heroes_grid_line {

    display:flex;
    justify-content:center;

}

.hero_grid_title {

    transform:translate(3px, -22px);


}

.heroes_title_main {

    min-width:1178px;
    margin-top:4%;
    margin-bottom:1%;
    padding:8px;
    background-color:var(--lg);
    color:#fff;
    display:flex;

}

.heroes_title_title {

    font-size: 24px;

}

.heroes_title_subtitle {

    padding-left:1px;

}

.heroes_high {

    margin-top:7px;
    margin-left:auto;
    display:flex;

}

.heroes_high_popularity {

    margin-left:4px;
    margin-right:10px;

}

.heroes_high_winrate {

    margin-left:4px;

}

.heroes_main_wrapper {

    display: flex;
    justify-content: center;

}

.heroes_main {

    width:1178px;
    min-width:1178px;
    margin-top:1%;

}

.heroes_row {

    padding:4px;
    font-size:12px;
    display:flex;
    align-heroes:center;

}

.heroes_hero_img {

    height:24px;
    width:33px;

}

.heroes_hero_name {

    width:206px;
    padding-left:7px;
    color:var(--high);

}

.heroes_hero_usage {

    width:300px;

}

.heroes_hero_usage_percentage {

    width:300px;

}

.heroes_hero_win_percentage {

    width:300px;

}

.heroes_hero_name_details {

    width:242px;

}

.heroes_hero_usage_details {

    width:288px;

}

.heroes_hero_usage_percentage_details {

    width:312px;

}

.heroes_hero_win_percentage_details {

    width:292px;

}

.heroes_hero_kda {

    margin-left:1px;
    width:272px;

}

.heroes_hero_kills {

    width:220px;

}

.heroes_hero_deaths {

    width:207px;

}

.heroes_hero_assists {



}

.heroes_hero_kills_details {

    width:220px;

}

.heroes_hero_deaths_details {

    width:220px;

}

.heroes_hero_assists_details {

    width:220px;

}

.heroes_hero_kda_details {

    margin-left:4px;
    width:220px;

}

.heroes_hero_winrate {

    width:300px;

}

.heroes_hero_popularity {

    width:300px;

}

.heroes_hero_kda {

    width:300px;

}

.heroes_hero_meta_usage_percentage {

    width:96px;

}

.heroes_hero_meta_win_percentage {

    width:96px;

}

.heroes_hero_meta_usage_percentage_details {

    width:88px;

}

.heroes_hero_meta_win_percentage_details {

    width:88px;

}

.medals_row {

    height:48px;
    margin-left:242px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.medal_row {

    width:182px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.medal_row_img {

    height:37px;
    width:37px;

}

